.App {
  position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;

    background-color: white;
    /* border: rgb(99,99,99) 2px solid; */
    /* border-radius: 1vh; */

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
              
    font: 3vh 'Helvetica Neue', Helvetica, Arial, sans-serif;
}